@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body{
  min-height: 100vh;
  padding: 0px !important;
  margin: 0px !important;
}

body{
  min-height: 100vh;
  background: rgb(24, 24, 24);
  color: white
}

h1 {
  background: -webkit-linear-gradient(45deg, #ffffff, #605f5f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.kontainer{
  background: blue;
}

